*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--main-color: #f25341;
	--text-color: #FFFFFF;
	--bg-color: hwb(0 12% 88%);
	--big-font: 3.0rem;
	--h2-font: 2.26rem;
	--p-font: 1.1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}


.kontak{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.kontak .content{
	max-width: 800px;
	text-align: center;
	color: var(--main-color);
	padding-bottom: 10px;
}

.contactForm{
	width: 40%;
	padding: 40px;
	background: white ;
}

.contactForm h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contactForm .inputbox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contactForm .inputbox span{
	color: #333;
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactForm .inputbox input[type="submit"] {
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

@media (max-width: 768px) {
	.kontak
	{
		padding: 10px;
		width: 500px;
	}
	.container{
		flex-direction: column;
	}
	.container .contactForm{
		width: 100%;
	}
	.contactForm h2{
		font-size: 20px;
	}
}

@media (max-width: 576px) {
	.contactForm{
		justify-content: center;
		text-align: center;
		max-width: 100%;
	}
}